extends layouts/master
include components/header
include components/card

block vars
    - var pageTitle = "author";
    - var showNav = true;
    - var showFooter = true;
    - 
        var author = {
                        title: "Jason Francisco",
                        job: "Collaborator & Editor",
                        img: "images/author.webp",
                        description: "Meet Jonathan Doe, a passionate writer and blogger with a love for technology and travel. Jonathan holds a degree in Computer Science and has spent years working in the tech industry, gaining a deep understanding of the impact technology has on our lives.",
                        social: [
                                {
                                    icon: "fa-brands fa-x-twitter",
                                    link: "/",
                                },
                                {
                                    icon: "fa-brands fa-facebook",
                                    link: "/",
                                },
                                {
                                    icon: "fa-brands fa-instagram",
                                    link: "/",
                                },
                                {
                                    icon: "fa-brands fa-linkedin-in",
                                    link: "/",
                                },
                        ]
                    }
    - 
        var post = {
                        post: {
                            title: "The Impact of Technology on the Workplace: How Technology is Changing",
                            link: "/",
                            img: "images/post-2.webp",
                            date: "August 20, 2022",
                        },
                        category: {
                            title: "Technology",
                            link: "/",
                        },
                        author: {
                            title: "Jason Francisco",
                            link: "/",
                            img: "images/author.webp",
                        },
                     }   

block content 
    +header-author(author)
    .group__wrapper 
        .group__container
            .group__heading 
                h2.heading__title Jason Francisco - Posts
            .group__posts 
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
            .group__footer 
                a(href="/" class="footer__button")
                    p View all post

