extends layouts/master
include components/header
include components/card

block vars
    - var pageTitle = "home";
    - var showNav = true;
    - var showFooter = true;
    - 
        var header = {
            post: {
                title: "The Impact of Technology on the Workplace: How Technology is Changing",
                link: "/",
                img: "images/post-3.jpg",
                date: "August 20, 2022",
            },
            category: {
                title: "Technology",
                link: "/",
            },
            author: {
                title: "Jason Francisco",
                link: "/",
                img: "images/author.png",
            },
        }  
    - 
        var post = {
            post: {
                title: "The Impact of Technology on the Workplace: How Technology is Changing",
                link: "/",
                img: "images/post-2.jpg",
                date: "August 20, 2022",
            },
            category: {
                title: "Technology",
                link: "/",
            },
            author: {
                title: "Jason Francisco",
                link: "/",
                img: "images/author.png",
            },
        } 

block content 
    +header-card(header)
    .group__wrapper 
        .group__container
            .group__heading 
                h2.heading__title Latest Post
            .group__posts 
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
                +post-card(post)
            .group__footer 
                a(href="/", class="footer__button")
                    p View all post

