extends layouts/master
include components/header
include components/card

block vars
    - var pageTitle = "single post";
    - var showNav = true;
    - var showFooter = true;
    -   
        var header = {
            post: {
                title: "The Impact of Technology on the Workplace: How Technology is Changing",
                img: "images/post-5.webp",
                date: "August 20, 2022",
            },
            category: {
                title: "Technology",
                link: "/",
            },
            author: {
                title: "Jason Francisco",
                link: "/",
                img: "images/author.webp",
            },
        }  
    - 
        var post = {
            post: {
                title: "The Impact of Technology on the Workplace: How Technology is Changing",
                link: "/",
                img: "images/post-2.webp",
                date: "August 20, 2022",
            },
            category: {
                title: "Technology",
                link: "/",
            },
            author: {
                title: "Jason Francisco",
                link: "/",
                img: "images/author.webp",
            },
        }  

block content 
    +header-post(header)
    article.article__wrapper 
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Traveling is an enriching experience that opens up new horizons, exposes us to different cultures, and creates memories that last a lifetime. However, traveling can also be stressful and overwhelming, especially if you don&apos;t plan and prepare adequately. In this blog article, we&apos;ll explore tips and tricks for a memorable journey and how to make the most of your travels.
            br
            br
            span(style='white-space:pre-wrap;')
                | One of the most rewarding aspects of traveling is immersing yourself in the local culture and customs. This includes trying local cuisine, attending cultural events and festivals, and interacting with locals. Learning a few phrases in the local language can also go a long way in making connections and showing respect.
        p
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                strong Research Your Destination
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Before embarking on your journey, take the time to research your destination. This includes understanding the local culture, customs, and laws, as well as identifying top attractions, restaurants, and accommodations. Doing so will help you navigate your destination with confidence and avoid any cultural faux pas.
            br
            br
            span(style='white-space:pre-wrap;')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Viverra adipiscing at in tellus.
        p
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                strong Plan Your Itinerary
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | While it&apos;s essential to leave room for spontaneity and unexpected adventures, having a rough itinerary can help you make the most of your time and budget. Identify the must-see sights and experiences and prioritize them according to your interests and preferences. This will help you avoid overscheduling and ensure that you have time to relax and enjoy your journey.
            br
            br
            span(style='white-space:pre-wrap;')
                | Vitae sapien pellentesque habitant morbi tristique. Luctus venenatis lectus magna fringilla. Nec ullamcorper sit amet risus nullam eget felis. Tincidunt arcu non sodales neque sodales ut etiam sit amet.
        blockquote
            p
                meta(charset='utf-8')
                span(style='white-space:pre-wrap;')
                | &ldquo; Traveling can expose you to new environments and potential health risks, so it&apos;s crucial to take precautions to stay safe and healthy. &rdquo;
        figure.image(data-ckbox-resource-id='_Wf3u2bByeyt')
            picture
                source(srcset='https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/192.webp 192w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/384.webp 384w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/576.webp 576w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/768.webp 768w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/960.webp 960w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1152.webp 1152w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1344.webp 1344w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1536.webp 1536w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1728.webp 1728w,https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1920.webp 1920w' sizes='(max-width: 1920px) 100vw, 1920px' type='image/webp')
                img(src='https://ckbox.cloud/rc1DFuFpHqcR3Mah6y0e/assets/_Wf3u2bByeyt/images/1920.jpeg' width='1920' height='1080' alt='An image of an Atlantic puffin, a seabird with a distinctive colorful beak')
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                strong Research Your Destination
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Before embarking on your journey, take the time to research your destination. This includes understanding the local culture, customs, and laws, as well as identifying top attractions, restaurants, and accommodations. Doing so will help you navigate your destination with confidence and avoid any cultural faux pas.
            br
            br
            span(style='white-space:pre-wrap;')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Viverra adipiscing at in tellus.
        p
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                strong Research Your Destination
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Before embarking on your journey, take the time to research your destination. This includes understanding the local culture, customs, and laws, as well as identifying top attractions, restaurants, and accommodations. Doing so will help you navigate your destination with confidence and avoid any cultural faux pas.
            br
            br
            span(style='white-space:pre-wrap;')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Viverra adipiscing at in tellus.
        p
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;') Capture Memories
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Finally, don&apos;t forget to capture memories of your journey. Whether it&apos;s through photographs, journaling, or souvenirs, preserving the moments and experiences of your travels can bring joy and nostalgia for years to come. However, it&apos;s also essential to be present in the moment and not let technology distract you from the beauty of your surroundings.
        p
        h4
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;') Conclusion:
        p
            meta(charset='utf-8')
            span(style='white-space:pre-wrap;')
                | Traveling is an art form that requires a blend of planning, preparation, and spontaneity. By following these tips and tricks, you can make the most of your journey and create memories that last a lifetime. So pack your bags, embrace the adventure, and enjoy the ride.


