-   
    var about      = {
                        description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam",
                        email: "example@exm.com",
                        phone: "+9660123456789",
                    }
-   
    var quicks     = [
                        { title: "home",       path: "", active: true,},
                        { title: "about",      path: "", active: false,},
                        { title: "blog",       path: "", active: false,},
                        { title: "contact",    path: "", active: false,}
                    ]
-   
    var categories = [
                        { title: "lifestyle",  path: "", active: false,},
                        { title: "technology", path: "", active: false,},
                        { title: "travel",     path: "", active: false,},
                        { title: "business",   path: "", active: false,},
                        { title: "economy",    path: "", active: false,},
                        { title: "sports",     path: "", active: false,}
                    ]
-   
    var important = [
                        { title: "Terms of Use",   path: "", active: false,},
                        { title: "Privacy Policy", path: "", active: false,},
                        { title: "Cookie Policy",  path: "", active: false,},
                    ]
footer.footer
    .footer__upper
        .footer__section.footer__section--about
            p.section__heading about
            ul.section__list
                p.list__content= about.description 
                p.list__content
                    strong email: 
                    = about.email
                p.list__content
                    strong phone: 
                    = about.phone
        .footer__section.footer__section--lists
            p.section__heading quick links
            ul.section__lists
                each list in quicks
                    li 
                        a(href=list.path, class="section__list")= list.title  
        .footer__section.footer__section--lists
            p.section__heading categories
            ul.section__lists
                each list in categories
                    li 
                        a(href=list.path, class="section__list")= list.title 
        .footer__section.footer__section--news
            form(action="/", method="post", class="news__form") 
                .news__heading 
                    h3 Weekly Newsletter
                    p Get blog articles and offers via email
                .news__search 
                    input(type="email", name="email", placeholder="Your Email")
                    i.fa-regular.fa-envelope
                button(type="submit", class="news__button") Subscribe
    .footer__lower
        .footer__section.footer__section--left
            img(src="images/letter-logo.webp", alt="B", class="section__logo--main")
            .section__copyrights 
                img(src="images/metablog-logo.webp", alt="metablog", class="section__logo--main")
                p © JS Template 2023. All Rights Reserved.
        .footer__section.footer__section--right
            ul.section__lists
                each list in important
                    li 
                        a(href=list.path, class="section__list")= list.title  