-   
    var lists = [
                    { title: "home",        path: "index.html",        active: true,},
                    { title: "blog",        path: "blog.html",         active: false,},
                    { title: "single post", path: "single-post.html",  active: false,},
                    { title: "author",      path: "author.html",       active: false,}
                ]
-   var button = { title: "login", path: ""};

nav.nav
    // nav logo start
    div.nav__section.nav__section--logo
        a(href="/" class="logo__link") 
            img(src="images/logo.webp" alt="logo" class="logo__img")
    // nav logo end
    // nav menu start
    div.nav__section.nav__section--menu
        // desktop menu start
        ul.menu__lists--desktop
            each list in lists
                li.menu__list
                    a(href=list.path class=active ? "menu__link--active menu__link" : "menu__link")= list.title
        // desktop menu end

        // mobile menu start
        button(type="button" id="menu__btn--open" class="menu__btn--open")
            i.fa-solid.fa-bars
        button(type="button" id="menu__btn--close" class="menu__btn--close menu__btn--hidden")
            i.fa-solid.fa-xmark
        ul(class="menu__lists--mobile" id="menu__lists--mobile")
            each list in lists
                li.menu__list
                    a(href=list.path class=`${active == true ? "menu__link--active" : ""} menu__link`)= list.title
            li.menu__list.menu__list--button
                a(href=button.path, class="menu__button")= button.title 
    // mobile menu end
    // nav menu end
    // nav btn start
    div.nav__section.nav__section--button
        a(href=button.path, class="button__login")= button.title 
    // nav btn end